src/node-red/.flows.json.backup
[
    {
        "id": "f77cf9fde1cf79bb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f62c31ff.5eb028",
        "type": "mqtt-broker",
        "name": "mqtt server",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "199df355e295d45f",
        "type": "mqtt in",
        "z": "f77cf9fde1cf79bb",
        "name": "",
        "topic": "sensor/data",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f62c31ff.5eb028",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "89a19b586c0b4498"
            ]
        ]
    },
    {
        "id": "89a19b586c0b4498",
        "type": "function",
        "z": "f77cf9fde1cf79bb",
        "name": "function 1",
        "func": "// Parse the incoming JSON payload\nlet data = JSON.parse(msg.payload);\n\n// Add a timestamp\ndata.timestamp = new Date().toISOString();\n\n// Prepare the output for MongoDB\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "fcc3eaa333465f7d"
            ]
        ]
    },
    {
        "id": "fcc3eaa333465f7d",
        "type": "debug",
        "z": "f77cf9fde1cf79bb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    }
]