src/node-red/.flows.json.backup
[
    {
        "id": "f77cf9fde1cf79bb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f62c31ff.5eb028",
        "type": "mqtt-broker",
        "name": "mqtt server",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4620b4b43bdc0606",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "sensor",
        "name": "MongoDB"
    },
    {
        "id": "199df355e295d45f",
        "type": "mqtt in",
        "z": "f77cf9fde1cf79bb",
        "name": "",
        "topic": "sensor/data",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f62c31ff.5eb028",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "89a19b586c0b4498"
            ]
        ]
    },
    {
        "id": "89a19b586c0b4498",
        "type": "function",
        "z": "f77cf9fde1cf79bb",
        "name": "function 1",
        "func": "msg.payload.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "fcc3eaa333465f7d",
                "e5b9d765e1dda3d2"
            ]
        ]
    },
    {
        "id": "fcc3eaa333465f7d",
        "type": "debug",
        "z": "f77cf9fde1cf79bb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "e5b9d765e1dda3d2",
        "type": "mongodb out",
        "z": "f77cf9fde1cf79bb",
        "mongodb": "4620b4b43bdc0606",
        "name": "persists to MongoDB",
        "collection": "mpu6050",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 700,
        "y": 280,
        "wires": []
    }
]